:root {
       --md-primary-fg-color: #4051B5;         /* Цвет хедера в светлой теме */
       --md-primary-fg-color--light: #4051B5;
       --md-primary-fg-color--dark: #000000;   /* Не используется в Material */
       --md-primary-bg-color: #ffffff;         /* Фон светлой темы */
       --md-primary-bg-color--light: #000000;
       --md-primary-bg-color--dark: #222222;   /* Не используется */
       --md-accent-fg-color: #4051B5;          /* Акцентный цвет */
       --md-typeset-a-color: #4051B5;          /* Цвет ссылок */
}

.md-typeset details.note {
    font-size: 90%;
  }

.md-typeset details.danger {
    font-size: 90%;
  }

.md-typeset details.warning {
    font-size: 90%;
  }


.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  font-weight: bold;
}

.md-nav__title {
  display: block;
  font-size: 18px;
}

.md-nav__title:before {
  visibility: hidden;
  content: 'Содержание:';
  display: block;
  font-size: 18px;
}

.md-nav__title:after {
  visibility: visible;
  content: 'Разделы:';
  display: block;
  font-size: 14px;
}


/* Maximum space for text block */
/* .md-grid {
  max-width: 90%; /* or 100%, if you want to stretch to full-width */
/*} */

.md-button-keycombination {
  background: #4051B5;
  /* text-transform: uppercase; */
  min-width: 180px;
  font-size: 14px;
}

.md-button-keycombination:not([disabled]):hover {
  background-color: #ffffff;
  color: #000000;
}

.md-button--primary-width {
  min-width: 300px;
}

.image-simple-border {
  border: 1px solid #000000
}

.md-header-nav__button {
  background-color: #4051B5;
  color: white;
}